<div class="card">
  <div class="card-header">
    Salesforce Account List
    <span class="float-right">
      <%= link_to 'New', new_salesforce_account_path, class: 'btn btn-primary' %>
    </span>
  </div>
  <div class="card-body">
    <table class="table table-responsive-sm table-bordered table-striped table-sm">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Salesforce ID</th>
        <th scope="col">Name</th>
      </tr>
      </thead>
      <tbody>
      <% @accounts.each_with_index do |account, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= link_to account['Id'], salesforce_account_path(account['Id']) %></td>
          <td><%= account['Name'] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
